@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative
    padding 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height:70px;
}

nav .logo{
    color:white;
    margin-left:-30px;
    font-size: 28px;
    text-align: start;
    
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.content{
    text-align: center;
}
.content h1{
    font-size: 80px;
    color: #fff;
    font-weight: 600;
}

.content h1:hover{
    -webkit-text-stroke: 1px #fff;
    color:transparent;
}
/***/


.slogan{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -300px;
    /* border-style: ridge; */
    padding-left: 130px;
    padding-top: 190px;
    font-size: 26px;
    color: beige;
}

.searchbar{
    justify-content: center;
    align-items: center;
}
.searchbar:hover{
    -webkit-text-stroke: 1px beige;
    color:transparent;
}

#app-cover {
    position: fixed;
    top:58%;
    right: 50%;
    left: 50%;
    width: 280px;
    padding-right:20px;
    margin-left:-110px;
    /* margin: 0px auto 0 280px; */
  }
  
  #app {
    position: relative;
    height: 48px;
    padding: 10px;
  }
  
  #app:after {
    content: ".";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
  }
  
  form {
    position: absolute;
    top: 0;
    right: 0;
    left: -260px;
    height: 40px;
    margin: 0 44px 0 18px;
    opacity: 0;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
  #search-input {
    display: block;
    width: 100%;
    height: 100%;
    color: beige;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  
  #search-input::placeholder {
    color: beige;
    padding-left: 3px;
  }
  
  #circle {
    position: relative;
    width: 48px;
    height: 48px;
    float: right;
    box-sizing: border-box;
    border: 3px solid beige;
    border-radius: 100px;
    overflow: hidden;
  }
  
  #r-btn {
    right: -3px;
    top: -12px;
    margin: -2px -2px 0 0;
    transform: rotateZ(45deg);

  }
  
  #r-btn:before,
  #r-btn:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
  }
  
  #r-btn:before {
    top: 0;
  }
  
  #r-btn:after {
    bottom: 0;
  }
  
  #c-btn {
    right: 8px;
    top:45px;
    bottom: 0;
    transform: rotateZ(-45deg);
  }
  
  #c-btn,
  #r-btn {
    position: absolute;
    width: 3px;
    height: 22px;
    border-radius: 0px;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.41, 1.42) all;
  }
  
  #c-btn,
  #r-btn:before,
  #r-btn:after {
    background-color: #fff;
  }
  
  #circle,
  form.active {
    transition: 0.3s ease all;
  }
  
  #submit-button,
  #init-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
  
  #submit-button {
    opacity: 0;
    z-index: -1;
  }
  
  #submit-button.active {
    z-index: 2;
  }
  
  #init-button {
    z-index: 1;
  }
  
  #app.active #circle {
    width: 120%;
  }
  
  form.active {
    left: 0;
    opacity: 1;
  }
  
  #app.active #c-btn {
    transform: rotateZ(-46deg) translateY(-33px);
  }
  
  #app.active #c-btn.change {
    border-radius: 0px 0px 4px 4px;
    transform: rotateZ(-90deg) translateY(-33px) translateX(22px);
  }
  
  #app.active #r-btn {
    transform: rotateZ(45deg) translateY(33px);
  }
  
  #app.active #r-btn.change:before {
    top: -4px;
    left: -5px;
    transform: rotateZ(90deg) translateX(10px);
  }

  .back-video{
    position: absolute;
    right: 0;
    bottom:0;
    z-index: -1;
    display: block;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
  }

  @media (min-aspect-ratio: 16/9){
    .back-video{
        width:100%;
        height:auto;
    }
  }

  @media (max-aspect-ratio: 16/9){
    .back-video{
        width:auto;
        height:100%;
    }
  }